 .gen-space {
     margin: 30px;
 }


.col {
    background-color: whitesmoke;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.col:hover {
    background-color: whitesmoke;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: green;
}